##############
#    Files   #
##############

*.root
*.txt

#########
# Psets #
#########

WR_Analyzer/test/psets

###########
# Singles #
###########

WR_Analyzer/test/crab.history
WR_Analyzer/test/temp.py

###############
# Directories #
###############

MakeSamples